<p id="notice"><%= notice %></p>

<h1>Listing Editals</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
            <%= link_to 'Materia Qualquer', materia_qualquer_path %>
  </tbody>
</table>

<br>

<%= link_to 'New Edital', new_edital_path %>
